{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block content %}
	
     <header>
     	<div class="conteiner">
     		<div class="row">
     			<div class="col-12">
     				  
     		</div>
     	</div>
     </header>

     <section id="slide">
     	<div class="container">
     		<div class="row">
     			<img src="{% static 'img/educacion.jpg'%}" class="img-fluid">
     		</div>
     		
     	</div>
     </section>

     <section id="content">
     	<div class="container">
     		<div class="row">
     			<div class="col"><img src="{% static 'img/profesor_girafales.jpg'%}" class="img-fluid">
          También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
          <a href="{% url 'agregar_profesor' %}" class="btn btn-light" >Profesor</a>
          </div>
     			<div class="col"><img src="{% static 'img/alumno.jpg'%}" class="img-fluid">
          También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
          <a href="{% url 'agregar_profesor' %}" class="btn btn-light" >Alumno</a>
          </div>
     			<div class="col"><img src="{% static 'img/curso.jpg'%}" class="img-fluid">
          También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
          <a href="{% url 'agregar_profesor' %}" class="btn btn-light" >Curso</a>
          </div>
     		
     		</div>
     	</div>
     </section>
     <footer>
     	<p>universidad andres bello</p>
     </footer>


{% endblock %}

