{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block content %}
	

     <section id="slide">
     	<div class="container">
     		<div class="row">
     			<img src="{% static 'img/educacion.jpg'%}" class="img-fluid">
     		</div>
     		
     	</div>
     </section>

     <section id="content">
     	<div class="container">
     		<div class="row">
     			<div class="col"><img src="{% static 'img/profesor_girafales.jpg'%}" class="img-fluid">
          <p>PROFESOR</p>
          En esta sección, se podrá visualizar las características y datos personales de los nuevos y actuales docentes que pertenecerán a la universidad Andres bello.
          <a href="{% url 'agregar_profesor' %}" class="btn btn-light" >AGREGAR</a>
          <a href="{% url 'listar_profesor' %}" class="btn btn-light" >LISTAR</a>
          </div>
     			<div class="col"><img src="{% static 'img/alumno.jpg'%}" class="img-fluid">
          <p>ALUMNO</p>
          En esta otra sección podremos visualizar los alumnos pertenecientes a la universidad, donde se podrá conocer sus datos personales y los cursos asociados. Así se podrá crear un perfil educativo para la universidad Andres bello.
          <a href="{% url 'agregar_alumno' %}" class="btn btn-light" >AGREGAR</a>
          <a href="{% url 'listar_alumno' %}" class="btn btn-light" >LISTAR</a>
          </div>
     			<div class="col"><img src="{% static 'img/curso.jpg'%}" class="img-fluid">
          <p>CURSO</p>
          En esta última sección, se podría ver el registro de los cursos que se llevaran a cabo en la universidad, por parte de los alumnos, a cargo de un respectivo profesor.
          <a href="{% url 'agregar_curso' %}" class="btn btn-light" >AGREGAR</a>
          <a href="{% url 'listar_curso' %}" class="btn btn-light" >LISTAR</a>
          </div>
     		
     		</div>
     	</div>
     </section>
     

     <footer>
     	<p>universidad andres bello</p>
     </footer>


{% endblock %}

