{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Listar Alumno</h1>
            <div class="col-md-12">
                

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Id_curso</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Accione1</th>
                      <th scope="col">Accione2</th>
                      <th scope="col">Accione3</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for curso in object_list %}
                    <tr>
                      <th scope="row">{{curso.id}}</th> 
                      <td><a href="#">{{curso.id_curso}}</a></td>
                      <td>{{curso.nombre}}</td>
                      <td>
                        <a href="{% url 'editar_curso' curso.pk %}" class="btn btn-outline-success my-2 my-sm-0">Editar</a>
                      </td>
                      <td>
                        <a href="{% url 'detallar_curso' curso.pk %}" class="btn btn-outline-success my-2 my-sm-0" >Detalle</a>
                      </td>
                      <td>
                        <a href="{% url 'eliminar_curso' curso.pk %}" class="btn btn-outline-success my-2 my-sm-0" >Eliminar</a>
                      </td>
                      

                    {% endfor %} 


                  </tbody>
                </table>


            </div>
        </div>
          <div class="row">
            {% if object_list.has_next or object_list.has_previous %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     {% if object_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    {% for page in object_list.paginator.page_range %}
                    <li class="page-item {% if object_list.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                     {% if object_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
                </nav>

            {% endif %}
          </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
          
            <td>
                 <a href="{% url 'pagina_principal' %}" class="btn btn-outline-success my-2 my-sm-0" >Retroceder</a>
                 
            </td>
         
        </form>

{% endblock %}